#
# Ignore File List
#

.DS_Store
*.o
*.obj
main
main.exe
build-*

cpp/console/tools/binarycmp/binarycmp
cpp/console/tools/binarywrite/binarywrite
cpp/console/tools/deletelasteol/deletelasteol
cpp/console/tools/eolconvert/eolconvert
cpp/console/tools/spacetabconvert/spacetabconvert
cpp/console/tools/hexstring/hexstring
cpp/console/tools/intdisplay/intdisplay
cpp/console/tools/ieee754/demo
cpp/console/tools/ieee754/genTools
cpp/console/tools/ieee754/ieee754
cpp/console/tools/ieee754/unitTest
cpp/console/tools/intValueRange/intValueRange
cpp/console/tools/asciiCodeTable/asciiCodeTable
cpp/console/tools/mathOperatation/mathCalc
cpp/console/tools/**/*.exe


lua/sourceCodeStudy/lua-5.1.5/src/lua
lua/sourceCodeStudy/lua-5.1.5/src/luac
lua/sourceCodeStudy/lua-5.1.5/src/*.a
lua/lua_C_Lab/basic/lualib/*.a
lua/lua_C_Lab/basic/lualib/*.lib
lua/sourceCodeStudy/xcodeLuaStudy

*.pro.user

!cpp/console/mathOperatation/build/**
!cpp/console/tools/arithMetic/build/*.o
cpp/console/mathOperatation/build/*.o


